<!DOCTYPE html>
<html lang="en">
<style>
    
    .button {background-color: #4cf436;height: auto;} 
    .button2 {background-color: #368ff4;height: auto;} 
    .button3 {background-color: #f4e136;height: auto;} 
    .button4 {background-color: #a3a09f;height: auto;} 
    .button5 {background-color: #f4f136a1;height: auto;} 
    .button6 {background-color: #a3a09f;height: auto;} 
    .button7 {background-color: #f44336;height: auto;} 
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Bar</a>
        </div>
    </nav>
    <div class="grid">
        <div class="grid1">
            <form action="http://127.0.0.1:5000/Mojito" method="POST" >
                <button class="button" type="submit">
                    Mojito
                </button>
            </form>
        </div>
        <div class="grid2">
            <form action="http://127.0.0.1:5000/Vodka" method="POST" >
                <button class="button button2" type="submit">
                    Vodka
                </button>
            </form>
        </div>
        <div class="grid grid3">
            <form action="http://127.0.0.1:5000/Piña_colada" method="POST" >
                <button class="button button3" type="submit">
                    Piña colada
                </button>
            </form>
        </div>
        <div class="grid grid4">
            <form action="http://127.0.0.1:5000/Izquierda" method="POST" >
                <button class="button button4" type="submit">
                    Izquierda
                </button>
            </form>
        </div>
        <div class="grid grid5">
            <form action="http://127.0.0.1:5000/Arriba" method="POST" >
                <button class="button button5" type="submit">
                    Arriba
                </button>
            </form>
        </div>
        <div class="grid grid6">
            <form action="http://127.0.0.1:5000/Derecha" method="POST" >
                <button class="button button6" type="submit">
                    Derecha
                </button>
            </form>
        </div>
        <div class="grid grid7">
            <form action="http://127.0.0.1:5000/Stop" method="POST" >
                <button class="button button7" type="submit">
                    Stop
                </button>
            </form>
        </div>
    </div>
</body>
