.grid{
    display: grid;
    size: 1px;
    padding: len;
    gap: 0.5em;
}
body{
    background: linear-gradient(to right,#e91e63,#3f51b5);
}
.grid1{
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}
.grid2{
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}
.grid3{
    grid-row: 3;
    grid-column: 2;

    justify-self: center;
}
.grid4{
    grid-row: 6;
    grid-column: 1;
    justify-self: end;
}
.grid5{
    grid-row: 6;
    grid-column: 2;
    justify-self: center;
}
.grid6{
    grid-row: 6;
    grid-column: 3;
    justify-self: start;
}
.grid7{
    grid-row: 9;
    grid-column: 2;
    justify-self: center;
}
